.app {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	font-weight: 300;
	background: #444;
	top: 0;
	left: 0;
}

.header {
	padding: 10px;
	color: #c7b6cc;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .2em;
	font-size: 12px;
	text-align: center;
}


.main {
	display: flex;
	flex-direction: column;
	flex: 1;
	height:100%;
}

.image{
	height:100%;
}